<footer class="footer footer-color py-4">
    <div class="container mt-auto px-4"></div>
        <div col-lg-12 >
            <div class="row gx-4">
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 txt">Ayuda</div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 txt">Contacto</div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 txt">Proyecto</div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 txt">Términos y Politicas</div>
            </div>
        </div>
    <div class= "row gx-4 align-items-center">
        <hr class="mt-3">
        <p class="pt-1 copy text-center"> Copyright &copy; 2021 | Programa PIL</p>
    </div>   
</footer>