<footer id="footer" class="mt-4" >
    <div class="container-fluid">
        <div class="row gx-4">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 txt"><a routerLink="">Desarrolladores</a></div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 txt"><a routerLink="/proyect">Proyecto</a></div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 txt"><a routerLink="">Contacto</a></div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 txt"><a routerLink="/terms">Términos y Politicas</a></div>
        </div>
        <div class="row gx-4 align-items-center copy-bg">
            <hr class="mt-3">
            <p class="copyright text-center"> Copyright &copy; 2021 | Programa PIL</p>
        </div>
    </div>
</footer>