<footer id="footer">
  <div class="container-fluid mt-3">
    <div class="row justify-content-center">
      <div class="col-lg-3 my-2  col-md-6 mb-5 mb-lg-0 txt"><a routerLink="/developer">Desarrolladores</a></div>
      <div class="col-lg-3 my-2  col-md-6 mb-5 mb-lg-0 txt"><a routerLink="/proyect">Proyecto</a></div>
      <div class="col-lg-3 my-2  col-md-6 mb-5 mb-lg-0 txt"><a routerLink="/contact">Contacto</a></div>
      <div class="col-lg-3 my-2 col-md-6 mb-5 mb-lg-0 txt"><a routerLink="/terms">Términos y Politicas</a></div>
    </div>
    <div class="row align-items-center copy-bg ">
      <hr class="mt-3">
      <p class="copyright text-center"> Copyright &copy; 2021 | Programa PIL</p>
    </div>
  </div>
</footer>
