/* Header */
#header>a>i {
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.031rem;
}

.nav {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus>a {
  color: var(--color-text);
  visibility: visible;
  width: 100%;
}

a {
  font-size: 2rem;
  color: var(--color-text);
  align-items: center;
  font-family: Montserrat, sans-serif;
}

a:hover,
a:active {
  color: var(--color-text);
  align-items: center;
  font-family: Montserrat, sans-serif;
}
