<header id="header">
    <div class="container-fluid">
        <div class="col-xl-12 d-flex align-items-center justify-content-lg-between">
           <h1 class="logo me-auto me-lg-0 nav-text">
                <a class="navbar-brand" routerLink="home" >
                    <img class="d-inline-block align-text-top logo" width="30" src="../../../favicon.ico" alt="">
                        PIL MONEY
                </a>
            </h1>
            <div class="col-xl-3 d-flex mynav justify-content-lg-betweend-flex">
                <a class="login me-auto me-lg-0 text-center selected" routerLink="/login">Ingresar
                   <img src="../../../assets/icons/account-circle-fill.svg" width="20" height="20" alt="">
                </a>
            </div>
        </div>
    </div>
  </header>
