/* Header */
mat-toolbar {
  background-color: var(--color-bg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  font-size: 2rem;
  color: var(--color-text);
  align-items: center;
  font-family: Montserrat, sans-serif;
}

a:hover, a:focus, a:active{
  font-size: 2rem;
  color: var(--color-link);
  align-items: center;
  font-family: Montserrat, sans-serif;
}
