section {
  padding: 0;
  overflow: hidden;
}

.card {
  border-radius: 0.5rem;
  background-color: var(--color-bg-secundary);
  padding: 2rem;
  margin: 2rem auto;
  width: 80%;
  height: auto;
  border: 3px solid var(--color-bg-divider);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

h2 {
  color: var(--color-text);
}

label {
  color: var(--color-text);
}

label:after {
  color: var(--color-text);
  font-size: 1rem;
}

input,
.form-control {
  background-color: var(--color-bg-secundary);
  color: var(--color-text-secundary);
  border: none;
  border-radius: 0;
  box-shadow: 0px 3px 0px 0px var(--color-bg-divider);
  font-size: 1rem;
}

input:focus,
input:hover,
input:active {
  background-color: var(--color-bg-secundary);
  color: var(--color-text-secundary);
  box-shadow: 0px 3px 0px 0px var(--color-bg-red-light);
}

.btn-sign {
  background-color: var(--color-btn);
  width: 13rem;
  height: 3rem;
  font-size: 1.3rem;
  border-radius: 50px;
}

.btn-sign-h {
  background-color: var(--color-bg-secundary);
  color: var(--color-text-secundary);
  width: 13rem;
  height: 3rem;
  font-size: 1.3rem;
  border-radius: 50px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-error {
  color: var(--color-bg-red-light);
}

.bg-input {
  background-color: var(--color-bg-secundary);
  border-bottom: 3px solid var(--color-bg-divider);
  height: auto;
  padding: 1rem;
  width: 50%;
  height: auto;
  letter-spacing: .02rem;
}

.file-txt {
  color: var(--color-text-secundary);
  padding: 2rem auto;
  font-size: 0.875rem;
}


button{
  letter-spacing: .02rem;
  border: none;
  color: var(--color-bg-secundary);
}

.btn-upload{
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  transition: all .15s ease;
  box-shadow: none;
}


.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
  font-size: 1rem;
}

.link{
  color: var(--color-link);
}
p{
  font-size: 1rem;
}