h1 {
  position: absolute;
  width: 688px;
  height: 70px;
  left: 280px;
  top: 55px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
}
.casilla1 {
  position: absolute;
  width: 530px;
  height: 107.61px;
  left: 51px;
  top: 210px;
}
.casilla2 {
  position: absolute;
  width: 530px;
  height: 107.61px;
  left: 600px;
  top: 210px;
}
.casilla3 {
  position: absolute;
  width: 530px;
  height: 107.61px;
  left: 51px;
  top: 367px;
}
.casilla4 {
  position: absolute;
  width: 530px;
  height: 107.61px;
  left: 600px;
  top: 367px;
}
.casilla5 {
  position: absolute;
  width: 530px;
  height: 107.61px;
  left: 52px;
  top: 524px;
}
.casilla6 {
  position: absolute;
  width: 530px;
  height: 107.61px;
  left: 600px;
  top: 524px;
}
.seguir {
  position: absolute;
  width: 408px;
  height: 62px;
  left: 380px;
  top: 717px;
  font-size: 25px;
}
.bx {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 254px;
  top: 21px;
}
