<section>
  <h2 class="title text-center">Desarrolladores</h2>
  <mat-divider class="my-4"></mat-divider>
</section>
<div class="container-fluid">
  <div class="grid-container p-4" data-aos="zoom-in" data-aos-duration="1500">
    
    <!-- LAUTARO -->
    <div class="grid-item">
      <div class="img-container py-4">
        <img class="img" src="../../../assets/avatars/lautaro.png" />
      </div>
      <div class="text-container py-4">
        <h4 class="name-inside">Lautaro Juncos</h4>
        <div class="text-inside">25Watts</div>
        <div class="bars my-2"></div>
        <p class="ocuppation-inside">Full Stack Developer</p>
        <a href="https://www.linkedin.com/in/lauta-juncos-09393b222" target="_blank" class="linkedin-inside">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-linkedin"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
            />
          </svg>
          /lautaro-juncos
        </a>
      </div>
    </div>

    <!-- JUAN O -->
    <div class="grid-item">
      <div class="img-container py-4">
        <img class="img" src="../../../assets/avatars/juanotero.png" />
      </div>
      <div class="text-container py-4">
        <h4 class="name-inside">Juan Otero</h4>
        <div class="text-inside">AYIGROUP</div>
        <div class="bars my-2"></div>
        <p class="ocuppation-inside">Full Stack Developer</p>
        <a
          href="https://www.linkedin.com/in/juan-cruz-otero-91b520192/"
          target="_blank"
          class="linkedin-inside"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-linkedin"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
            />
          </svg>
          /juan-otero
        </a>
      </div>
    </div>
    <!-- ELEANA -->
    <div class="grid-item">
      <div class="img-container py-4">
        <img class="img" src="../../../assets/avatars/eleana.png" />
      </div>
      <div class="text-container py-4">
        <h4 class="name-inside">Eleana Rinaudo</h4>
        <div class="text-inside">Atila Software</div>
        <div class="bars my-2"></div>
        <p class="ocuppation-inside">Full Stack Developer</p>
        <a
          href="https://www.linkedin.com/in/eleana-rinaudo/"
          target="_blank"
          class="linkedin-inside my-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-linkedin"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
            />
          </svg>
          /eleana-rinaudo
        </a>
      </div>
    </div>
 
    <!-- JUAN V -->
    <div class="grid-item">
      <div class="img-container py-4">
        <img class="img" src="../../../assets/avatars/JuanVisintini.png" />
      </div>
      <div class="text-container py-4">
        <h4 class="name-inside">Juan Visintini</h4>
        <div class="text-inside">Simtlix</div>
        <div class="bars my-2"></div>
        <p class="ocuppation-inside">Full Stack Developer</p>
        <a href="https://www.linkedin.com/in/juan-visintini-4558671b3/" target="_blank" class="linkedin-inside">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-linkedin"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
            />
          </svg>
          /juan-visintini
        </a>
      </div>
    </div>
  </div>
</div>