<div class="MainContainer">
  <h1 class="title">
    DESAROLLADORES
  </h1>
  <h1 class="bars">
    _________________
  </h1>
</div>
<div class="box-container1">
  <div>

  </div>
</div>
<div class="box-container2">
  <div>

  </div>
</div>
<div class="box-container3">
  <div>

  </div>
</div>
<div class="box-container4">
  <div>

  </div>
</div>
<div class="box-container5">
  <div>

  </div>
</div>
<div class="box-container6">
  <div>

  </div>
</div>
<div class="box-container7">
  <div>

  </div>
</div>
<div class="box-container8">
  <div>

  </div>
</div>
<div class="box-container9">
  <div>

  </div>
</div>

