<!-- profile -->
<section class="m-4" data-aos="zoom-in" data-aos-duration="1500">
  <div class="container-fluid">
    <mat-divider class="my-4"></mat-divider>
    <h2 class="title text-center">PERFIL</h2>
    <mat-divider class="my-4"></mat-divider>
    <mat-card class="example-card card">
      <mat-card-header>
        <div>
          <img mat-card-avatar src="../../../../assets/avatars/default.png" alt="Foto Perfil" />
          <mat-card-title class="my-4">User Name</mat-card-title>
          <mat-divider></mat-divider>
        </div>
      </mat-card-header>
      <mat-card-content>
        
        <mat-card-subtitle>Nombre: </mat-card-subtitle>
        <mat-card-subtitle>Email: </mat-card-subtitle>
        <mat-card-subtitle>Teléfono: </mat-card-subtitle>
        <mat-card-subtitle>Fecha de Nacimiento: </mat-card-subtitle>
        <mat-card-subtitle>CUIL: </mat-card-subtitle>
        <mat-card-subtitle>Alias: </mat-card-subtitle>
        <mat-card-subtitle>Dirección: </mat-card-subtitle>

      </mat-card-content>
      <mat-divider></mat-divider>
  </mat-card>
  </div>
</section> 

<button mdbBtn color="primary" class="waves-light" (click)="showAndHideModal()">Open modal</button>

<div mdbModal #demoBasic="mdbModal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" size="sm" class="bwaves-light" data-dismiss="modal" (click)="demoBasic.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" size="sm" class="waves-light" mdbWavesEffect>Save changes</button>
            </div>
        </div>
    </div>
</div>