img.mat-card-avatar{
  width:150px;
  height: 150px;
  background-size: cover;
}

mat-card-header{
  justify-content: center;
}

mat-card-subtitle{
  font-family: sans-serif;
}

mat-card-content{
  padding-top:1rem;
  text-align: left;
  justify-content: center;
}