<!-- profile -->
<section class="m-4" data-aos="zoom-in" data-aos-duration="1500">
  <div class="container-fluid">
    <mat-divider class="my-4"></mat-divider>
    <h2 class="title text-center">PERFIL</h2>
    <mat-divider class="my-4"></mat-divider>
    <mat-card class="example-card card">
      <mat-card-header>
        <div>
          <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
          <img
            mat-card-avatar
            src="../../../../assets/avatars/default.png"
            alt="Foto Perfil"
          />
          <div>
            <a href="" class="my-4">Editar foto</a>
          </div>
          <h4 class="name my-4">User Name</h4>
          <mat-divider></mat-divider>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>Name LastName </mat-card-title>
        <mat-card-subtitle>Email</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</section>
<!-- <div id="profile" class="card">
  <section>
    <div class="form-control">
      <h1 align="center">Pepe Gomez</h1>
      <div class="row">
        <div class="bio-row">
          <p><span> CVU</span>: 22954845178</p>
        </div>
        <div class="bio-row">
          <p><span>Alias </span>: gomez-p.22</p>
        </div>
        <div class="bio-row">
          <p><span>Fecha Nacimiento</span>: 27 Agosto 1987</p>
        </div>
        <div class="bio-row">
          <p><span>Pais </span>: Argentina</p>
        </div>
        <div class="bio-row">
          <p><span>Email </span>: elpepe@gmail.com</p>
        </div>
        <div class="bio-row">
          <p><span>Celular </span>: (351) 456789</p>
        </div>
      </div>
      <button type="button" class="btn btn-primary editar">Editar Perfil</button>
    </div>
  </section>
  
  <section>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tarjeta 1</h5>
            <div class="card-item">
              <img src="../../../../assets/images/card2.png" alt="tarjeta master card">
              <a href="#" class="btn btn-primary">Ver Tarjeta</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tarjeta 2</h5>
            <div class="card-item">
              <img src="../../../../assets/images/master1.png" alt="tarjeta master card">
              <a href="#" class="btn btn-primary">Ver Tarjeta</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->
