<section>
  <div class="container-fluid">
      <h2 class="title text-center">PROYECTO</h2>
      <mat-divider class="my-4"></mat-divider>

    <div class="row" data-aos="zoom-in">
      <div class="col-lg-12">
        <div class="card-b">
          <div class="features-div">
            <h4>Metodología ABP</h4>
            <p>
              Trabajamos bajo la estrategia de aprendizajes por proyectos, la
              cual permite a los estudiantes adquirir competencias y
              conocimientos fundamentales mediante la elaboración de proyectos
              que dan respuesta a situaciones reales de trabajo.
            </p>
            <p>
              Se trabaja de manera colaborativa para desarrollar las habilidades
              blandas tales como trabajo en equipo, aprendizaje colaborativo,
              comunicación efectiva.
            </p>
          </div>
        </div>
      </div>
      <!-- End col-md-3-->
      <div class="col-lg-4 my-4">
        <div class="card-b">
          <div class="features-div">
            <h4>Objetivo</h4>
            <p class="text-center">
              Promover el desarrollo de un conjunto de competencias específicas
              dentro del sector profesional de informática articuladas a partir
              de las demanadas socio-productivas.
            </p>
          </div>
        </div>
      </div>
      <!-- End col-md-3-->
      <div class="col-lg-4 my-4">
        <div class="card-b">
          <div class="features-div">
            <h4>Carga horarias</h4>
            <ul>
              <li>
                <p>Duración total: 300hs</p>
              </li>
              <li>
                <p>Dos clases sincrónicas semanales</p>
              </li>
              <li>
                <p>Actividades asincrónicas semanales</p>
              </li>
              <li>
                <p>Plataforma moodle de ISPC</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End col-md-3-->
      <div class="col-lg-4 my-4">
        <div class="card-b">
          <div class="features-div">
            <h4>Información de la carrera</h4>
            <ul>
              <li>
                <p>Modalidad combinada</p>
              </li>
              <li>
                <p>Clases semanales sincrónicas y asincrónicas</p>
              </li>
              <li>
                <p>Prácticas profesionalizantes presenciales geolocalizada</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End col-md-3-->
    </div>
    <!-- End row -->
  </div>
</section>
