
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<div class="features-div">
			   <h4>Objetivo</h4>
			   <p>Promover el desarrollo  de un conjunto de competencias especificas dentro del sector profesional de informatica articuladas a partir de las demanadas socio - productivas</p>
			</div>
		</div><!-- End col-md-3-->
		<div class="col-md-3 col-sm-6">
			<div class="features-div">
			   <h4>Metodologia ABP</h4>
			   <p>Trabajamos bajo la estrategia de aprendizaje por proyectos, la cual permite a los estudiantes adquirir competencias y conocimientos fundamentales mediante la elaboracion de proyectos que dan respuesta a situaciones reales de trabajo.</p>
               <br>
               <p>Se trabaja de manera colaborativa para desarrollar las habilades blandas tales como trabajo en equipo, aprendizaje colaborativo, comunicacion efectiva.</p>
			</div>
		</div><!-- End col-md-3-->
		<div class="col-md-3 col-sm-6">
			<div class="features-div">
			   <h4>Carga horaria</h4>
			   <p>Duracion total: 300hs.</p>
               <br>
               <p>Dos clases sincronicas semanales</p>
               <br>
               <p>Actividades asincronicas semanales</p>
               <br>
               <p>Plataforma moodle de ISPC</p>
			</div>			
		</div><!-- End col-md-3-->
		<div class="col-md-3 col-sm-6">
			<div class="features-div">
			   <i class="fa fa-pencil"></i>
			   <h4>Informacion de la carrera</h4>
			   <p>Modalidad combinada</p>
               <br>
               <p>Clases semanales sincronicas y asincronicas. Practicas profesionalizantes presenciales geolocalizada
               </p>
			</div>			
		</div><!-- End col-md-3-->
	</div><!-- End row -->
