.MainContainer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
  }
  .title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(214, 214, 214);
  }
  .bars{
    color: #3DD598;
    margin-top: -20px;
  }
.main_heading h1
{
	font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;    
}
.features-div
{
	text-align: center;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}
.features-div:hover
{
	margin-top: -10px;
}

.features-div h4
{
    color: #40b3ff;
    font-weight: 400;
    text-transform: uppercase;
}
.features-div p
{
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    text-align: center;
}
.features-div h2
{
    color: #40b3ff;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 5%;
}