<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <img
        class="avatar mat-elevation-z8"
        src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
      />

      <h4 class="name">Pepe Gomez</h4>

      <mat-divider></mat-divider>

      <button mat-button class="btn menu-button" routerLink="/menu/wallet">
        <mat-icon>account_balance_wallet</mat-icon>
        <span>Billetera</span>
      </button>
      <mat-icon>account_balance</mat-icon>
      <span>Operaciones</span>
      <mat-select class="mat-select-panel">
        <mat-option
          *ngFor="let operation of ops"
          [value]="operation.value"
          [routerLink]="operation.value"
        >
          {{ operation.viewValue }}
        </mat-option>
      </mat-select>
      <button mat-button class="btn menu-button" routerLink="/menu/perfil">
        <mat-icon>account_circle</mat-icon>
        <span>Perfil</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-button class="btn menu-button">
        <mat-icon>settings</mat-icon>
        <span>Configuracion</span>
      </button>
    </mat-sidenav>

    
      <router-outlet></router-outlet>
    
   
  </mat-sidenav-container>
</div>
