mat-toolbar {
  background: var(--color-bg);
  color: var(--color-text);
  font-size: 1.5rem;
}

mat-sidenav {
  width: 200px;
  border-right: none;
  background: var(--color-bg-secundary);
  color: var(--color-text);
  padding: 1rem;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  background: var(--color-bg);
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-option {
  background: var(--color-bg-secundary);
  box-shadow: none;
  text-align: center;
  color: var(--color-text-secundary);
  font-size: 1rem;
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-bg-divider);
}

mat-icon{
  margin-right: 1rem;
}

mat-sidenav .options{
  text-align: left;
  font-family: 'Biryani', sans-serif;

}

.avatar {
  margin-top: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 5px;
  margin: 1rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.name {
  margin-top: 8px;
  font-weight: normal;
  text-align: center;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}
.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.example-spacer {
  flex: 1 1 auto;
}