<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar>
    <button  mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>list</mat-icon>
     
    </button><span> Menu</span>
    <span class="example-spacer"></span>
    <button  mat-icon-button routerLink="/home">
      <mat-icon class="text-end">logout</mat-icon>
     
    </button><span class="text-end"></span>
   
    
  </mat-toolbar>
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? '56' : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <img
        class="avatar mat-elevation-z8"
        src="../../../assets/avatars/default.png"
      />

      <h4 class="name my-4">User Name</h4>
      <mat-divider></mat-divider>
      <div class="options">
        <button
          mat-icon-button
          routerLink="/menu/wallet"
          class="example-icon"
          aria-label="Icono Billetera"
        >
          <mat-icon>account_balance_wallet</mat-icon>
          <span>Billetera</span>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="options">
        <button
          mat-icon-button
          routerLink="/menu/wallet"
          class="example-icon"
          aria-label="Icono Operaciones"
        >
          <mat-icon>account_balance</mat-icon>
        </button>
        <span>Operaciones</span>
        <mat-option
          *ngFor="let operation of ops"
          [value]="operation.value"
          [routerLink]="operation.value"
        >
          {{ operation.viewValue }}
        </mat-option>
      </div>

      <mat-divider></mat-divider>

      <div class="options">
        <button
          mat-icon-button
          routerLink="/menu/perfil"
          class="example-icon"
          aria-label="Icono Perfil"
        >
          <mat-icon>account_circle</mat-icon>

          <span>Perfil</span>
        </button>
      </div>
      <mat-divider></mat-divider>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
