main{
    position:relative;
    top: 10vh;
    display:block;
    background-color: #30444E;
    color:white;
    width:fit-content;
    margin:auto;
    border-radius: 20px;
}
.container div{
    position:relative;
    margin: 1em;
    color:#DFDFDF;
}
.container{
    padding:1em 3em 1em 3em;
}