.card{
    border-radius: .5rem;
    padding: 2rem;
    margin: 5rem auto;
    width: 80%;
    height: auto;
}

.card1{
    border:none;
    border-left: 10px solid var(--color-bg-purple);
    background-color:black;
    box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.2);
}

.card-title{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.card-body{
    font-size: 2rem;
    text-transform: uppercase;
}