<section id="home">
    <div class="container">
        <div class="row">
        	<div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" >
              	<h1 data-aos="fade-right"  data-aos-duration="3000">Te damos la bienvenida<br>a <strong class="name">PIL MONEY</strong></h1>
              		<p data-aos="fade-up-right" data-aos-duration="3000">Ya podes transferir tu dinero a cualquier cuenta <strong class=descr-tx>cuántas veces quieras</strong></p>
              	<div class="d-flex">
                	<a class="btn-signin" data-aos="fade-up-right" data-aos-duration="3000" routerLink="/signin"><strong class="btn-txt" >Creá tu cuenta</strong></a>
            	</div>
          	</div>
          	<div class="col-lg-6 order-1 order-lg-2 pt-4 center-block justify-content-center pt-lg-0">
            	<img src="../../../assets/img/isometric_btc.svg" class="animated home-img" alt="">
          	</div>
        </div>
    </div>
</section>