<main class="container-fluid">
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
  <span class="particle">&#65284;</span>
<!-- Card -->
<section data-aos="fade-zoom-in"
data-aos-easing="ease-in-back"
data-aos-delay="300"
data-aos-offset="0">
<mat-card >
    <!--Title-->
    <mat-card-title >
      <h2 class="py-4" >
        Te damos la bienvenida a <br><strong>PIL MONEY</strong>
      </h2>
    </mat-card-title>

    <!--Text-->
    <mat-card-content>
      <p >
        Ya podes <strong>administrar</strong> tu dinero <br />en cualquier
        dispositivo <strong>sin hacer fila</strong>
      </p>
      <mat-card-actions>
      <button
      class="btn-signin"
      type="button"
      routerLink="/signin"
    >
      Creá tu cuenta
    </button>
    </mat-card-actions>
    <mat-card-actions>
      <a
            routerLink="/login"
          >
            Iniciar sesión
    </a>
    </mat-card-actions>
    </mat-card-content>

</mat-card>
<!-- Card -->
</section>
</main>

<section id="home" class="text-center m-2">
  <article
    class="container content2 justify-content-center my-5"
    data-aos="fade-zoom-in"
  >
    <h2 class="text-center my-4">BILLETERA VIRTUAL <br />PIL MONEY</h2>
    <mat-divider ></mat-divider>
    <p class="text-center">
      Es una App digital con la que puedes hacer múltiples operaciones
      financieras con el fin de facilitar y agilizar transacciones a cualquier
      hora sin tener que salir de tu casa.
      <br />Se pueden realizar las siguientes transacciones:
    </p>

    <div class="row text-center justify-content-center">
      <div class="col-sm">
        <p>
          <strong>Pagar</strong> tus cuentas, impuestos, servicios y crear
          plazos fijos.
        </p>
      </div>

      <div class="col-sm">
        <p>
          <strong>Comprar</strong> y <strong>transferir</strong> dinero en
          pesos, distintas monedas extranjeras o criptomonedas.
        </p>
      </div>

      <div class="col-sm">
        <p>
          Brindarte la opción de <strong>consultar</strong> tu saldo o ver tus
          últimas operaciones de los <strong>movimientos</strong> que realizaste
          para ofrecerte mayor seguridad.
        </p>
      </div>
    </div>
    <p>
      <br />Para obtener la billetera virtual
      <a routerLink="/signin"> <strong> haz click aqui </strong></a>. <br />En
      pocos minutos podrás cargar los datos solicitados, comenzar a utilizarla y
      ser parte de <strong>PIL MONEY</strong> 🥳.
    </p>
    <mat-divider ></mat-divider>
  </article>
</section>



