<main class="container-fluid">
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>
	<span class='particle'>&#65284;</span>


<article class='content'>
	  <h2 class="mb-4" data-aos="fade-up-right" data-aos-duration="3000">Te damos la bienvenida<br>a <strong>PIL MONEY</strong></h2>
	  <p data-aos="fade-up-right" data-aos-duration="3000">Ya podes <strong>administrar</strong> tu dinero <br>en cualquier dispositivo <strong>sin hacer fila</strong></p>
		<button class="btn-signin" type="button"routerLink="/signin" data-aos="fade-up-right" data-aos-duration="3000">Creá tu cuenta</button>
</article>
</main>

<section id="home" class=" text-center margin-top: 2rem;">
	<article class='container content2 justify-content-center my-5' data-aos="fade-zoom-in">
	  	<h2 class="text-center" >BILLETERA VIRTUAL <br>PIL MONEY</h2>
	  		<div class="section-divider"></div>
	  		<p class="text-center">
			Es una App digital con la que puedes hacer múltiples operaciones financieras
			con el fin de facilitar y agilizar transacciones a cualquier hora sin tener que salir de tu casa.
			<br>Se pueden realizar las siguientes transacciones:
			<div class="row text-center justify-content-center">
					<div class="col-sm ">
						<p><strong>Pagar</strong> tus cuentas, impuestos, servicios y crear plazos fijos.</p>
					</div>

					<div class="col-sm">
						<p><strong>Comprar</strong> y <strong>transferir</strong> dinero en pesos, distintas monedas extranjeras
						o criptomonedas.</p>
					</div>

					<div class="col-sm">
						<p>Brindarte la opción de <strong>consultar</strong> tu saldo o ver tus últimas
						operaciones de los <strong>movimientos</strong> que realizaste para ofrecerte
						mayor seguridad.</p>
					</div>
			</div>
			<p>
			<br>Para obtener la billetera virtual <a routerLink="/signin"> <strong> haz click aqui </strong></a>.
			<br>En pocos minutos podrás cargar los datos solicitados, comenzar a utilizarla y ser parte de <strong>PIL MONEY</strong> 🥳.
			</p>
			<div class="section-divider"></div>
	</article>
</section>