<section class="my-3">
  <div class="container-fluid">
    <mat-divider class="my-4"></mat-divider>
    <h2>OPERACIONES</h2>
    <mat-divider class="my-4"></mat-divider>
    <mat-card>
      <h3 class="my-4">Seleccione la operación que desea realizar</h3>

      
    
    

      <!-- <mat-body>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 my-2">
            <button type="button" (click)="habilitarIngreso()"  class="btn-sel">
              Ingresar Dinero
            </button>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 my-2">
            <button type="button" (click)="habilitarRetiro()" class="btn-sel">
              Retirar Dinero
            </button>
          </div>
        </div>
      </mat-body> -->

      <div class="row form-group" data-aos="zoom-out">
        <div class="col-lg-12">
          <form
            [formGroup]="operacionForm"
            class="example-form"
            (ngSubmit)="onEnviar($event, transacciones)"
            autocomplete="off"
          >
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Tipo de Transaccion</mat-label>
            <mat-select
              matNativeControl
              [(ngModel)]="transacciones.Id_tipo"
              [formControl]="descripcion"
              formControlName="descripcion"
              ngDefaultControl
              name="descripcion"
              required
            >
              <mat-option 
                *ngFor="let tipoTransaccion of TipoTransaccionesLista"
                [value]="tipoTransaccion.id_tipo_transaccion"
              >
                {{ tipoTransaccion.descripcion }}
              </mat-option>
            </mat-select>
             <mat-error
              *ngIf="
                operacionForm.get('descripcion').errors &&
                operacionForm.get('descripcion').touched
              "
            >
              <mat-error 
                *ngIf="operacionForm.get('descripcion')?.hasError('required')"
                >Por favor, <strong>ingrese</strong>Ingrese la transaccion </mat-error
              >
            </mat-error>
          </mat-form-field> 
    
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>CVU</mat-label>
            <mat-select
              
              matNativeControl
              [(ngModel)]="transacciones.Cuenta_id"
              [formControl]="cvu"
              formControlName="cvu"
              ngDefaultControl
              name="cvu"
              required
            >
              <mat-option 
                *ngFor="let cuenta of CuentaLista"
                [value]="cuenta.id_cuenta"
              >
                {{ cuenta.cvu }}
              </mat-option>
            </mat-select>
             <mat-error
              *ngIf="
                operacionForm.get('cvu').errors &&
                operacionForm.get('cvu').touched
              "
            >
              <mat-error 
                *ngIf="operacionForm.get('cvu')?.hasError('required')"
                >Por favor, <strong>ingrese</strong> el CVU</mat-error
              >
            </mat-error> 
          </mat-form-field> 

            <mat-form-field class="example-full-width" appearance="standard">
              <mat-label>Número Tarjeta</mat-label>
              <input
                matInput
                [formControl]="cardNumber"
                [(ngModel)]="transacciones.NumeroTarjeta"
                formControlName="cardNumber"
                placeholder="Ingrese el número de su tarjeta"
                type="text"
                name="cardNumber"
                id="cardNumber"
              />
              <mat-error
                *ngIf="
                  operacionForm.get('cardNumber').errors &&
                  operacionForm.get('cardNumber').touched
                "
              >
                <mat-error
                  *ngIf="operacionForm.get('cardNumber')?.hasError('required')"
                  >Por favor, ingrese el <strong>número de tarjeta</strong></mat-error
                >
              </mat-error>
             
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="standard" hidden>
              <mat-label>Fecha Transaccion</mat-label>
              <input
               
                matInput
                [matDatepicker]="picker"
                placeholder="dd/mm/yyyy"
                [(ngModel)]="transacciones.Fecha_transaccion"
                [formControl]="fecha"
                formControlName="fecha"
               
              />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <!-- <mat-error
                *ngIf="
                  operacionForm.get('fecha').errors &&
                  operacionForm.get('fecha').touched
                "
              >
                <mat-error
                  *ngIf="operacionForm.get('fecha')?.hasError('required')"
                  >Por favor, ingrese la <strong>fecha</strong></mat-error
                >
              </mat-error>
              -->
            </mat-form-field>
            

            <mat-form-field class="example-full-width" appearance="standard">
              <mat-label>Número CVV</mat-label>
              <input
                matInput
                [(ngModel)]="transacciones.NumeroCVV"
                [formControl]="numberCVV"
                formControlName="numberCVV"
                placeholder="Ingrese el código CVV:"
                name="numberCVV"
                id="numberCVV"
              />
              <mat-error
                *ngIf="
                  operacionForm.get('numberCVV').errors &&
                  operacionForm.get('numberCVV').touched
                "
              >
                <mat-error
                  *ngIf="operacionForm.get('numberCVV')?.hasError('required')"
                  >Por favor, ingrese el <strong>Codigo CVV</strong></mat-error
                >
              </mat-error>
            </mat-form-field>
            <!--<p class="expiration-date-title">Fecha de vencimiento</p>
            <div class="row expiration-date">
              
              <mat-form-field appearance="standard">
                <mat-label>Mes</mat-label>
                <mat-select
                  matNativeControl
                  [formControl]="month"
                  formControlName="month"
                  ngDefaultControl
                  name="month"
                >
                  <mat-option 
                    *ngFor="let month of months"
                    [value]="month"
                  >
                    {{ month.mes }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    operacionForm.get('month').errors &&
                    operacionForm.get('month').touched
                  "
                >
                  <mat-error 
                    *ngIf="operacionForm.get('month')?.hasError('required')"
                    >Por favor, <strong>ingrese</strong> el mes de vencimiento</mat-error
                  >
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="standard">
                <mat-label>Año</mat-label>
                <mat-select
                  matNativeControl
                  [formControl]="year"
                  formControlName="year"
                  ngDefaultControl
                >
                  <mat-option 
                    *ngFor="let year of years"
                    [value]="year"
                  >
                    {{ year.anio }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    operacionForm.get('year').errors &&
                    operacionForm.get('year').touched
                  "
                >
                  <mat-error 
                    *ngIf="operacionForm.get('year')?.hasError('required')"
                    >Por favor, <strong>ingrese</strong> el año de vencimiento</mat-error
                  >
                </mat-error>
              </mat-form-field>
            </div>-->

            <mat-form-field class="example-full-width" appearance="standard">
              <mat-label>Monto a {{operacion}}</mat-label>
              <input
                matInput
                [(ngModel)]="transacciones.Monto"
                [formControl]="monto"
                formControlName="monto"
                placeholder="Ingrese el monto"
                
              />
              <mat-error
                *ngIf="
                  operacionForm.get('monto').errors &&
                  operacionForm.get('monto').touched
                "
              >
                <mat-error
                  *ngIf="operacionForm.get('monto')?.hasError('required')"
                  >El monto es <strong>obligatorio</strong></mat-error
                >
              </mat-error>
            </mat-form-field>
            <div class="form-group" >
              <button (click)="cargarTransacciones()" type="submit" class="btn btn-success btn-block">
                 Confirmar
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</section>

<section>
<mat-card class="mx-2" >
  <h3 class="my-4">Últimos movimientos</h3>
  <table class="table table-dark table-hover text-center">
      <thead class="text-uppercase">
          <th class="col-lg-4 col-sm-3">Cuenta</th>
          <th class="col-lg-2 col-sm-1">Tipo de Transaccion</th>
          <th class="col-lg-2 col-sm-1">Fecha</th>
          <th class="col-lg-2 col-sm-1">Numero de tarjeta</th>
          <th class="col-lg-2 col-sm-1">Numero CVV</th>
          <th class="col-lg-2 col-sm-1">Monto</th>
          
      </thead>
      <tbody>
          <tr *ngFor="let item of TransaccionesLista">
                <!-- [value]="item.Id_transaccion" -->
              <!-- <td class="text-start" > {{item.id_transaccion}} </td> -->
              <td > {{item.cvu}} </td>
              <td  class="colores" [ngStyle]="{'color':item.descripcion === 'Deposito' ? 'green' : 'red'}"> {{item.descripcion}}</td>
              <td > {{item.fecha_transaccion}} </td>
              <td > {{item.numeroTarjeta}} </td>
              <td > {{item.numeroCVV}} </td>
              <td > ${{item.monto}} </td>
              <td> 
                  <!-- <input type="checkbox"> -->
              </td>
          </tr>
      </tbody>   
      
  </table>
</mat-card>
</section>