

<section class="m-4">
    <div class="container-fluid">
      <!-- CARD -->
      <div class="row">
        <div class="col-lg-4">
          <div class="card card1">
            <div class="card-title">Saldo en ARS$</div>
            <div class="card-body"><strong>$ 3000</strong></div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card2">
            <div class="card-title">Saldo en US$</div>
            <div class="card-body">$3000</div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card3">
            <div class="card-title">Saldo en Criptomoneda</div>
            <div class="card-body">$3000</div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="card">
    <div class="title">
        <h3>Últimos movimientos</h3>
        <button class="btn btn-printer">
            <img src="../../../../../assets/icons/printer.svg" alt="imprimir comprobante">
        </button>
    </div>
    <table class="table table-dark table-hover text-center">
        <thead class="text-uppercase">
            <th class="col-lg-3 col-sm-2">ID</th>
            <th class="col-lg-4 col-sm-3">Cuenta</th>
            <th class="col-lg-2 col-sm-1">Fecha</th>
            <th class="col-lg-2 col-sm-1">Monto</th>
            <th class="col-lg-1 col-sm-1 ">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M6 19H3a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-3v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm0-2v-1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v1h2V9H4v8h2zM8 4v3h8V4H8zm0 13v3h8v-3H8zm-3-7h3v2H5v-2z" fill="rgba(255,255,255,0.7)"/></svg>            
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let item of movimientos">
                <td > {{item.id}} </td>
                <td > {{item.cuenta}} </td>
                <td > {{item.fecha}} </td>
                <td >$  {{item.monto}} </td>
                <td> 
                    <input type="checkbox">
                </td>
            </tr>
        </tbody>
    </table>
</section>