<section class="my-3">
  <div class="container-fluid">
    <h2>OPERACIÓN EN PESOS</h2>
    <mat-divider class="my-4"></mat-divider>
    <mat-card class="matCard">
      <h3 class="my-4">Seleccione la operación que desea realizar</h3>

      <div class="row form-group" data-aos="zoom-out">
        <div class="col-lg-12">
          <form
            [formGroup]="operacionForm"
            (ngSubmit)="onEnviar($event, transacciones)"
            autocomplete="off"
          >
          <mat-form-field class="col-lg-12 example-full-width" appearance="standard" >
            <mat-label>Tipo de Transacción</mat-label>
            <mat-select
          
              matNativeControl
              [(ngModel)]="transacciones.Id_tipo"
              [formControl]="descripcion"
              formControlName="descripcion"
              ngDefaultControl
              name="descripcion"
              required
              (ngModelChange)="dataChanged($event)"
            >
              <mat-option 
               
                *ngFor="let tipoTransaccion of TipoTransaccionesLista"
                [value]="tipoTransaccion.id_tipo_transaccion"

                
              >
                {{ tipoTransaccion.descripcion }}
              </mat-option>
            </mat-select>
             <mat-error
              *ngIf="
                operacionForm.get('descripcion').errors &&
                operacionForm.get('descripcion').touched
              "
            >
              <mat-error 
                *ngIf="operacionForm.get('descripcion')?.hasError('required')"
                >Por favor, ingrese su <strong>transacción</strong></mat-error
              >
            </mat-error>
          </mat-form-field> 
    
          <mat-form-field class="col-lg-12 example-full-width" appearance="standard">
            <mat-label>CVU</mat-label>
            <mat-select
              
              matNativeControl
              [(ngModel)]="transacciones.Cuenta_id"
              [formControl]="cvu"
              formControlName="cvu"
              ngDefaultControl
              name="cvu"
              required
             
            >
              <mat-option                 
                *ngFor="let cuenta of CuentaListaCvu"
                [value]="cuenta.id_cuenta"                
              >
                {{ cuenta.cvu }}
              </mat-option>
            </mat-select>
             <mat-error
              *ngIf="
                operacionForm.get('cvu').errors &&
                operacionForm.get('cvu').touched
              "
            >
              <mat-error 
                *ngIf="operacionForm.get('cvu')?.hasError('required')"
                >Por favor, <strong>ingrese</strong> el CVU</mat-error
              >
            </mat-error> 
          </mat-form-field> 
          <mat-form-field class="col-lg-12 example-full-width" appearance="standard" hidden >
            <mat-label>CVU1</mat-label>
            <mat-select
              matNativeControl
              [(ngModel)]="transacciones.Cvu"
              [formControl]="cvu1"
              formControlName="cvu1"
              ngDefaultControl
              name="cvu1"
              value="{{CuentaLista}}"
            >
              <mat-option                 
                *ngFor="let cuenta of CuentaLista"
                [value]="cuenta.id_cuenta"  
                aria-selected="true"  
                [selected]="cuenta == 0"            
              >
                {{ cuenta.cvu }}
              </mat-option>
              <!-- <mat-option
              [value]="CuentaLista"
              >
                {{CuentaLista}}
              </mat-option> -->
            </mat-select>
          </mat-form-field> 


            <mat-form-field class="col-lg-12 example-full-width" appearance="standard">
              <mat-label>Número de Tarjeta</mat-label>
              <input
                matInput
                [formControl]="cardNumber"
                [(ngModel)]="transacciones.NumeroTarjeta"
                formControlName="cardNumber"
                placeholder="Ingrese el número de su tarjeta"
                type="text"
                name="cardNumber"
                id="cardNumber"
              />
              <mat-error
                *ngIf="
                  operacionForm.get('cardNumber').errors &&
                  operacionForm.get('cardNumber').touched
                "
              >
                <mat-error
                  *ngIf="operacionForm.get('cardNumber')?.hasError('required')"
                  >Por favor, ingrese el <strong>número de tarjeta</strong></mat-error
                >
              </mat-error>
             
            </mat-form-field>

            <mat-form-field class="col-lg-12 example-full-width" appearance="standard" hidden>
              <mat-label>Fecha Transaccion</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="dd/mm/yyyy"
                [(ngModel)]="transacciones.Fecha_transaccion"
                [formControl]="fecha"
                formControlName="fecha"
              />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
           
            </mat-form-field>
            

            <mat-form-field class="col-lg-12 example-full-width" appearance="standard">
              <mat-label>Número CVV</mat-label>
              <input
                matInput
                [(ngModel)]="transacciones.NumeroCVV"
                [formControl]="numberCVV"
                formControlName="numberCVV"
                placeholder="Ingrese el código CVV:"
                name="numberCVV"
                id="numberCVV"
              />
              <mat-error
                *ngIf="
                  operacionForm.get('numberCVV').errors &&
                  operacionForm.get('numberCVV').touched
                "
              >
                <mat-error
                  *ngIf="operacionForm.get('numberCVV')?.hasError('required')"
                  >Por favor, ingrese el <strong>Codigo CVV</strong></mat-error
                >
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-lg-12 example-full-width" appearance="standard">
              <mat-label>Monto a {{operacion}}</mat-label>
              <input
                matInput
                [(ngModel)]="transacciones.Monto"
                [formControl]="monto"
                formControlName="monto"
                placeholder="Ingrese el monto"
                class="example-right-align"
              />
              <span matPrefix>$&nbsp;</span>
              <mat-error
                *ngIf="
                  operacionForm.get('monto').errors &&
                  operacionForm.get('monto').touched
                "
              >
                <mat-error
                  *ngIf="operacionForm.get('monto')?.hasError('required')"
                  >El monto es <strong>obligatorio</strong></mat-error
                >
              </mat-error>
            </mat-form-field>
            <div class="form-group" >
              <button (click)="cargarTransacciones()" type="submit" class="btn button btn-block">
                 Confirmar
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</section>

<section>
<mat-card >
  <h3 class="my-4">Movimientos</h3>
  <table mat-table [dataSource]="TransaccionesLista" class="mat-elevation-z8">
    <!-- Cuenta  -->
    <ng-container matColumnDef="cuenta">
      <th mat-header-cell *matHeaderCellDef class="text-star text-uppercase">
        Cuenta
      </th>
      <td mat-cell class="text-start font-weight-bold" *matCellDef="let item">
        {{item.cvu}}
      </td>
    </ng-container>
    <!-- Tipo de Transacción  -->
    <ng-container matColumnDef="tipo_de_transaccion">
      <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase">
        Tipo de Transacción
      </th>
      <td mat-cell *matCellDef="let item" [ngStyle]="{'color':item.descripcion === 'Deposito' ? '#40DF9F' : ' #cf6679'}">
        {{item.descripcion}}
      </td>
    </ng-container>
    <!-- Fecha  -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase">
        Fecha
      </th>
      <td mat-cell *matCellDef="let item">{{ item.fecha_transaccion }}</td>
    </ng-container>
    <!-- Número de Tarjeta  -->
    <ng-container matColumnDef="numero_de_tarjeta">
      <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase">
        Número de Tarjeta
      </th>
      <td mat-cell *matCellDef="let item">
        {{ item.numeroTarjeta }}
      </td>
    </ng-container>
    <!-- Número de CVV  -->
    <!-- Monto  -->
    <ng-container matColumnDef="monto">
      <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase">
        Monto
      </th>
      <td mat-cell *matCellDef="let item">$ {{ item.monto }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
</section>