.more {
  text-align: end;
}
.icon-paid {
  font-size: 3rem;
}
.mov {
  margin: 4rem;
  justify-content: center;
}

table {
  width: 100%;
  background-color: var(--color-bg-secundary);
}

.example-card {
  font-family: "Biryani", sans-serif;
  max-width: 700px;
  background-color: var(--color-bg);
}

.mat-row:hover .mat-cell {
  border-color: var(--color-bg-divider);
}

mat-card {
  border: 1px solid var(--color-bg-divider);
  border-radius: 0.5rem;
  background-color: var(--color-bg-secundary);
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}
.matCard{
  border: 1px solid var(--color-bg-divider);
  border-radius: .5rem;
  background-color: var(--color-bg-secundary);
  box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .2);
  width: max-content;
  padding: 2rem;
}

@media (min-width: 768px) {
  mat-card {
    width: 100%;
  }
}
mat-title {
  font-size: 1.5rem;
  padding-left: 1rem;
  font-family: "Montserrat", sans-serif;
}

/* ANIMATIONS */
.example-card {
  transition: transform 0.2s;
}

.example-card:hover {
  transform: scale(1.1);
}

a {
  color: var(--color-btn-hover);
  font-size: 1.2rem;
}

mat-icon {
  font-size: 0.8rem;
}

.button {
  --offset: 10px;
  --border-size: 2px;
  display: -webkit-inline-box;
  position: relative;
  padding: 1.5em 3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
  color: var(--color-btn-hover);
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button__horizontal,
.button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
  color: var(--color-purple);
}
.button__horizontal::before,
.button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}

.mat-elevation-z8 {
  box-shadow: none !important;
}

.title{
  color: var(--color-text-secundary);
  font-size: 1.5rem;
}

th {
  color: var(--color-text);
  padding-bottom: 2rem;
  font-size: 0.7rem;
  border: 1px solid transparent;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

td {
  padding-bottom: 2rem;
  font-size: 0.6rem;
  text-align: center;
  border-bottom: 1px solid transparent;
}
@media (min-width: 768px) {
  th {
    font-size: 0.7rem;
  }
  td {
    font-size: 0.6rem;
  }
}
@media (min-width: 992px) {
  th {
    font-size: 0.9rem;
  }
  td {
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  th {
    font-size: 1.3rem;
  }
  td {
    font-size: 1.2rem;
  }
}