
.btn-sel{
  background-color: var(--color-btn);
  width: 100% !important;
  height: 10vh !important;
  margin: 0 !important;
  padding: 0 !important;
  color: var(--color-bg);
  font-size: 1.5rem !important;
  border: none;
}
.colores{
  background: none;
}

.btn-sel:hover, .btn-ope:active {
  background-color: var(--color-btn-hover);
  color: var(--color-bg);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-form-field.mat-form-field {
  font-size: 0.9rem;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-container {
  align-self: center;
}

mat-error {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: var(--color-bg-red);
}

mat-form-field {
  margin: 1rem;
}

mat-checkbox {
  white-space: -webkit-nowrap;
}

mat-card{
  background-color: var(--color-bg-secundary);
  width: max-content;
}

.btn-print {
  border: 1px solid var(--color-btn-hover);
  background-color: transparent;
  color: var(--color-text);
  width: 15rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: .5rem;
  text-align: center;
  padding-right: 0px;
}

table, th, td{
  background-color: transparent;
  border: none;
}

mat-icon{
  background-color: transparent;
}
.expiration-date {
  flex-wrap: nowrap;
  width: 100%;
}
.expiration-date mat-form-field {
  width: 50%;
  margin: auto 0.5rem;
}
.expiration-date-title {
  font-size: 1rem;
  text-align: left;
  margin: 1rem 0 0 1rem;
}