<section class="section">
  <div class="container-fluid ">
    <div class="card login-card" data-aos="zoom-in">
      <h2 class="text-center my-4">
        Te damos la bienvenida <br />a <strong>PIL MONEY</strong>
      </h2>
      <div class="section-divider"></div>
      <h4 class="text-center my-2">¡ Te extrañamos !</h4>
      <form
        class="example-form"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        novalidate
      >
        <!-- EMAIL INPUT -->
        <div class="form-group my-4">
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Correo Electrónico</mat-label>
            <input
              matInput
              placeholder="pilmoney@mail.com"
              formControlName="email"
              type="email"
              name="email"
              required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>El email es <strong>requerido</strong></mat-hint>
            <mat-error *ngIf="loginForm.controls.email.touched &&
              loginForm.controls.email.errors?.required">
                El email es <strong>requerido</strong>
              <mat-error *ngIf="loginForm.controls.email.touched &&
              loginForm.controls.email.errors?.email">
                El <strong>formato del mail</strong> debe ser válido.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- CONTRASEÑA INPUT -->
        <div class="form-group my-4">
          <mat-form-field class="example-full-width"  appearance="standard">
            <mat-label>Ingrese su contraseña</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>La contraseña es <strong>requerido</strong></mat-hint>
              <mat-error *ngIf="loginForm.controls.password.touched &&
              loginForm.controls.password.errors?.required">
              La contraseña es <strong>requerido</strong>
              </mat-error>
          </mat-form-field>
        </div>

        <div class="text-center my-4 example-label">
          <div class="example-button-row">
            <button mat-button color="accent"><a href="#" class="color-btn">Me olvidé la contraseña</a></button>
            <button mat-button color="accent"><a class="color-btn" routerLink="/signin">Create una cuenta</a></button>
          </div>
        </div>

        <!-- BOTON -->
        <div class="d-flex justify-content-center">
          <button
            class="btn btn-login"
            routerLink="/wallet"
          >
            Ingresar
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
