.login-card {
  width: auto;
  max-width: 30rem;
  border-radius: 0.5rem;
  background-color: var(--color-bg-secundary);
  padding: 2rem;
  margin: 5rem auto;
  height: auto;
  border: 3px solid var(--color-bg-divider);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}


input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.btn-login {
  background-color: var(--color-btn);
  width: 15rem;
  height: 3rem;
  color: var(--color-bg-secundary);
  border: none;
}

.btn-log:hover,
.btn-log:focus,
.btn-log:active {
  background-color: var(--color-btn-hover);
  width: 15rem;
  height: 3rem;
  font-size: 1.2rem;
  color: var(--color-bg-secundary);
  border: none;
}

.color-btn {
  color: var(--color-btn-hover);
  font-size: 0.875rem;
  line-height: 1.5rem;
}
