<section class="container-fluid card">
  <h2>CONTACTO</h2>
  <mat-divider class="my-4"></mat-divider>
  <div class="content" data-aos="zoom-in">
    <form
        class="example-form"
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        novalidate
      >
      <div class="row">
        <!-- NOMBRE -->
        <div class="form-group my-4">
          <mat-form-field  class="example-full-width" appearance="standard">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              formControlName="name"
              [formControl]="name"
              type="text"
              name="name"
              placeholder="Ingrese su nombre"
              autocomplete="off"
            />
            <mat-hint>El Nombre es <strong>requerido</strong></mat-hint>
            <mat-error *ngIf="contactForm.get('name').errors && contactForm.get('name').touched">
              El nombre es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- EMAIL -->
        <div class="form-group my-4">
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Correo Electrónico</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              formControlName="email"
              [formControl]="email"
              type="email"
              name="email"
              id="email"
              autocomplete="off"
            />
            <mat-hint>El email es <strong>requerido</strong></mat-hint>
            <mat-error
              *ngIf="contactForm.get('email').errors && contactForm.get('email').touched">
              El correo electrónico es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- ASUNTO -->
        <div class="form-group my-4">
          <mat-form-field class="example-full-width"  appearance="standard">
            <mat-label>Asunto</mat-label>
            <input
              matInput
              formControlName="issue"
              [formControl]="issue"
              type="text"
              name="issue"
              placeholder="Ingrese su asunto"
              autocomplete="off"
            />
            <mat-hint>El asunto es <strong>requerido</strong></mat-hint>
            <mat-error *ngIf="contactForm.get('issue').errors && contactForm.get('issue').touched">
              El asunto es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- MENSAJE -->
        <div class="form-group my-4 text-start">
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Mensaje</mat-label>
            <textarea 
            matInput
            formControlName="msg"
            [formControl]="msg"
            ></textarea>
            <mat-hint>El mensaje es <strong>requerido</strong></mat-hint>
            <mat-error *ngIf="contactForm.get('msg').errors && contactForm.get('msg').touched">
              El mensaje es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-submit text-center">
            Enviar
          </button>
        </div>
      </div>
    </form>

    <hr class="d-flex text-center" />
      <div class="justify-content-center text-center">
        <google-map width='auto' height='400'></google-map>
        <!-- HOME -->
        <button
          class="btn-des"
          mat-flat-button
          mat-icon-button
          aria-label="Icono decorativo de Domicilio"
          [matMenuTriggerFor]="home"
        >
          <mat-icon>home</mat-icon>
        </button>
        <mat-menu #home="matMenu">
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Calle False 12345</span>
          </button>
        </mat-menu>

        <!-- EMAIL -->
        <button
          mat-flat-button
          class="btn-des"
          mat-icon-button
          aria-label="Icono Decorativo de Email"
          [matMenuTriggerFor]="email_button"
        >
          <mat-icon>email</mat-icon>
        </button>
        <mat-menu #email_button="matMenu">
          <button mat-menu-item>
            <mat-icon>email</mat-icon>
            <span>hola@pilmoney.com</span>
          </button>
        </mat-menu>

        <!-- PHONE -->
        <button
          mat-flat-button
          class="btn-des"
          mat-icon-button
          aria-label="Icono decorativo de Domicilio"
          [matMenuTriggerFor]="phone"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <mat-menu #phone="matMenu">
          <button mat-menu-item>
            <mat-icon>phone</mat-icon>
            <span>+5432223445344</span>
          </button>
        </mat-menu>
    </div>
  </div>
</section>
