/* GENERAL */
section {
  text-align: center;
  color: var(--color-text);
}

.card {
  margin: 2rem auto;
  padding-top: 2rem;
  border: 3px solid var(--color-bg-divider);
}

hr {
  height: auto;
  width: 0.2rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}

/* TITULO */
section h2 {
  font-weight: bold;
  color: var(--color-text);
}

.green-line {
  background-color: var(--color-link);
  height: 0.2rem;
  width: 8rem;
  margin: 0.6rem auto;
}

/* CONSULTA */

.example-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
  color: var(--color-txt);
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-form-field-infix {
  border-radius: 0;
  border: none;
  background: transparent;
  outline: none;
  color: var(--color-text-secundary);
  font-size: 0.875rem;
}

mat-label {
  color: var(--color-txt);
}

.btn-submit {
  background-color: var(--color-btn);
  width: 15rem;
  height: 3rem;
  font-size: 1.2rem;
  color: var(--color-bg-secundary);
  border: none;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active {
  background-color: var(--color-btn-hover);
  width: 15rem;
  height: 3rem;
  font-size: 1.3rem;
  color: var(--color-bg-secundary);
  border: none;
}

/* DATOS DE CONTACTO */
.datos-container {
  padding-top: 5rem;
  color: var(--color-text-secundary);
}

.datos-container p {
  color: var(--color-text-secundary);
  margin-bottom: 2rem;
  font-size: 1.2rem;
  align-items: center;
}

mat-icon {
  color: var(--color-bg-secundary);
}

.btn-des {
  background-color: var(--color-btn);
}

.btn-des:hover,
.btn-des:focus,
.btn-des:active {
  background-color: var(--color-btn-hover);
}

.mat-icon-button {
  margin: 2rem;
}

#mapa {
  width: 100%;
  max-width: 20rem;
}

/* ANIMATIONS */
#mapa {
  transition: transform 0.2s;
}

#mapa:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: 47.5% 5% 47.5%;
    margin-top: 2rem;
  }
}
