<section class="container card">
  <h2>CONTACTO</h2>
  <div class="green-line"></div>
  <div class="content" data-aos="zoom-in">
    <form class="form" autocomplete="off">
      <div class="row text-start">
        <!-- NOMBRE -->
        <div class="form-group my-4">
          <div class="form-floating">
            <input
              [formControl]="name"
              type="text"
              name="name"
              class="form-control"
              id="floatingInput"
            />
            <label for="floatingInput">Nombre</label>
            <div class="small" *ngIf="nameField.errors && nameField.dirty">
              <p
                *ngIf="nameField.hasError('required')"
                class="text-danger pt-2"
              >
                El nombre es <strong>requerido</strong>
              </p>
            </div>
          </div>
        </div>

        <!-- CONTACTO -->
        <div class="form-group my-4">
          <div class="form-floating">
            <input
              [formControl]="mail"
              type="email"
              name="name"
              class="form-control"
              id="email"
            />
            <label for="floatingInput">Correo Electrónico</label>
            <div class="small" *ngIf="mailField.errors && mailField.dirty">
              <p *ngIf="mailField.hasError('required')" class="text-danger">
                El email es <strong>requerido</strong>
              </p>
              <p class="small" *ngIf="mailField.hasError('email')" class="text-danger">
                El <strong>formato del mail</strong> debe ser válido.
              </p>
            </div>
          </div>
        </div>

        <!-- ASUNTO -->
        <div class="form-group my-4">
          <div class="form-floating">
            <input
              [formControl]="issue"
              type="text"
              name="issue"
              class="form-control"
              id="email"
            />
            <label for="issue">Asunto</label>
            <div class="small" *ngIf="issueField.errors && issueField.dirty">
              <p  *ngIf="issueField.hasError('required')" class="text-danger">
                El asunto es <strong>requerido</strong>
              </p>
            </div>
          </div>
        </div>

        <!-- MENSAJE -->
        <div class="form-group my-4 text-start">
          <label class="pb-2">Mensaje</label>
          <textarea
            [formControl]="msg"
            name="msg"
            class="form-control"
            id="msg"
            placeholder="Introduzca su consulta"
            cols="30"
            rows="5"
          ></textarea>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-submit text-center">
            Enviar
          </button>
        </div>
      </div>
    </form>

    <hr class="d-flex text-center" />
 
    <div class="datos-container">
    <div>
      <img id="mapa" class="text-center" src="/assets/img/map.svg" /></div>
      <div class="justify-content-center">
      <p class="datos-contacto my-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"
            fill="rgba(255,255,255,1)"
          />
        </svg>
        Calle falsa 12345
      </p>
      <p class="datos-contacto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm9.06 8.683L5.648 6.238 4.353 7.762l7.72 6.555 7.581-6.56-1.308-1.513-6.285 5.439z"
            fill="rgba(255,255,255,1)"
          />
        </svg>
        hola@hola.com
      </p>
      <p class="datos-contacto">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M21 16.42v3.536a1 1 0 0 1-.93.998c-.437.03-.794.046-1.07.046-8.837 0-16-7.163-16-16 0-.276.015-.633.046-1.07A1 1 0 0 1 4.044 3H7.58a.5.5 0 0 1 .498.45c.023.23.044.413.064.552A13.901 13.901 0 0 0 9.35 8.003c.095.2.033.439-.147.567l-2.158 1.542a13.047 13.047 0 0 0 6.844 6.844l1.54-2.154a.462.462 0 0 1 .573-.149 13.901 13.901 0 0 0 4 1.205c.139.02.322.042.55.064a.5.5 0 0 1 .449.498z"
            fill="rgba(255,255,255,1)"
          />
        </svg>
        +5490303456789
      </p></div>
    </div>
  </div>
</section>
