<section class="container-fluid card">
  <h2>CONTACTO</h2>
  <mat-divider class="my-4"></mat-divider>
  <div class="content" data-aos="zoom-in">
    <form
        class="example-form"
        autocomplete="off"
        novalidate
      >
      <div class="row">
        <!-- NOMBRE -->
        <div class="form-group my-4">
          <mat-form-field  class="example-full-width" appearance="standard">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              [formControl]="name"
              type="text"
              name="name"
              placeholder="Ingrese su nombre"
              autocomplete="off"
            />
            <mat-hint>El Nombre es <strong>requerido</strong></mat-hint>
            <mat-error *ngIf="nameField.errors && nameField.dirty">
              <mat-error *ngIf="nameField.hasError('required')">
                El nombre es <strong>requerido</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- CONTACTO -->
        <div class="form-group my-4">
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Correo Electrónico</mat-label>
            <input
              matInput
              placeholder="pat@example.com"
              [formControl]="mail"
              type="email"
              name="email"
              autocomplete="off"
              id="email"
              required
            />
            <mat-hint>El email es <strong>requerido</strong></mat-hint>
            <mat-error *ngIf="mailField.errors && mailField.dirty">
              <mat-error *ngIf="mailField.hasError('required')">
                El email es <strong>requerido</strong>
              </mat-error>
              <mat-error *ngIf="mailField.hasError('email')">
                El <strong>formato del mail</strong> debe ser válido.
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- ASUNTO -->
        <div class="form-group my-4">
          <mat-form-field class="example-full-width"  appearance="standard">
            <mat-label>Asunto</mat-label>
            <input
              matInput
              [formControl]="issue"
              type="text"
              name="issue"
              placeholder="Ingrese su asunto"
              autocomplete="off"
            />
            <mat-hint>El asunto es <strong>requerido</strong></mat-hint>
            <mat-error *ngIf="issueField.errors && issueField.dirty">
              <mat-error *ngIf="issueField.hasError('required')">
                El asunto es <strong>requerido</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- MENSAJE -->
        <div class="form-group my-4 text-start">
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Mensaje</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-submit text-center">
            Enviar
          </button>
        </div>
      </div>
    </form>

    <hr class="d-flex text-center" />
      <div class="justify-content-center text-center">
        <google-map width='auto' height='400'></google-map>
        <!-- HOME -->
        <button
          class="btn-des"
          mat-flat-button
          mat-icon-button
          aria-label="Icono decorativo de Domicilio"
          [matMenuTriggerFor]="home"
        >
          <mat-icon>home</mat-icon>
        </button>
        <mat-menu #home="matMenu">
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Calle False 12345</span>
          </button>
        </mat-menu>

        <!-- EMAIL -->
        <button
          mat-flat-button
          class="btn-des"
          mat-icon-button
          aria-label="Icono Decorativo de Email"
          [matMenuTriggerFor]="email"
        >
          <mat-icon>email</mat-icon>
        </button>
        <mat-menu #email="matMenu">
          <button mat-menu-item>
            <mat-icon>email</mat-icon>
            <span>hola@pilmoney.com</span>
          </button>
        </mat-menu>

        <!-- PHONE -->
        <button
          mat-flat-button
          class="btn-des"
          mat-icon-button
          aria-label="Icono decorativo de Domicilio"
          [matMenuTriggerFor]="phone"
        >
          <mat-icon>phone</mat-icon>
        </button>
        <mat-menu #phone="matMenu">
          <button mat-menu-item>
            <mat-icon>phone</mat-icon>
            <span>+5432223445344</span>
          </button>
        </mat-menu>
    </div>
  </div>
</section>
