main {
  margin: auto;
  margin-bottom: 20em;
  color: var(--color-text-secundary);
}
h3,
h2 {
  text-align: center;
  color: var(--color-text);
  margin: 1.5rem auto;
}

ol {
  margin: auto 2rem;
  line-height: 1.5;
}
ol li {
  font-size: 1.7em;
  line-height: 1.5;
}
p {
  padding-inline: 5em;
  text-align: justify;
  line-height: 1.5;
}
.section-divider {
  display: block;
  border-radius: 55px;
  width: 26rem;
  max-width: 80%;
  height: 0.3125rem;
  background: var(--color-btn);
  margin-bottom: 2rem;
}

@media (max-width:800px) {
  h3, h2{
    font-size: 3.2vw;
  }
  ol,li,p{
    font-size: 2.5vw;
    padding-inline: 1em;
  }
  .card{
    margin: auto;
    width: 100%;
    padding:1em;
  }
}
