@import "aos/dist/aos.css";

/* Root */
:root{
    --color-bg: #010409;
    --color-bg-secundary: #0D1117;
    --color-bg-divider: #30363D;
    --color-text: #fff;
    --color-text-secundary: rgba(255, 255, 255, 0.7);
    --color-text-disabled: rgba(255, 255, 255, 0.5);
    --color-link: #40DF9F;
    --color-btn: #40DF9F;
    --color-btn-hover: #7AE3B9;
    --color-bg-red: #FF464F;
    --color-bg-red-secundary: #FF575F;
    --color-bg-red-light: #cf6679;
    --color-bg-orange: #FF8A34;
    --color-bg-orange-secundary: #FF974A;
    --color-bg-orange-light: #FFEFE3;
    --color-bg-yellow: #DAA522;
    --color-bg-yellow-secundary: #D6B34E;
    --color-bg-yellow-light: #FEF3D9;
    --color-bg-blue: #005DF2;
    --color-bg-blue-secundary: #0062FF;
    --color-bg-blue-light: #E3EEFF;
    --color-bg-purple: #6952DC;
    --color-bg-purple-secundary: #755FE2;
    --color-bg-purple-light: #bb86fc;
    --color-bg-shadow: rgba(1,4,9,0.8);
}

html{
    box-sizing: border-box;
    font-size: 14px;
    min-height: 100%;
    position: relative;
}

body{
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text);
}

p, div, a, label, input, span, button{
    font-family: 'Biryani', sans-serif;
    color: var(--color-text-secundary);
}

a{
    color: var(--color-text);
    text-decoration: none;
}

a:hover, a:active, a:focus{
    color: var(--color-link);
    outline: none;
    text-decoration: none;
}


hr{
    border: 1px solid var(--color-bg-divider);
}

/* Typography */

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
}

a {
  font-size: 1rem;
  letter-spacing: 0.02rem;
}

/* Class */
.card {
  border-radius: 0.5rem;
  background-color: var(--color-bg-secundary);
  padding: 2rem;
  margin: 5rem 9rem;
  width: auto;
  height: auto;
  border: 3px solid var(--color-bg-divider);
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}


@media (max-width:800px) {
  .card{
    margin: 1em;
    width: auto;
    padding:1em;
  }
  h2{
    font-size: 8vw;
  }
  th{
    font-size: 3.2vw;
  }
  td{
    font-size: 2.5vw;
  }
}

.section-divider {
  display: block;
  border-radius: 55px;
  width: 6.25rem;
  height: 0.3125rem;
  background: var(--color-btn);
  margin: 1rem auto;
}

section{
  margin-top: 4rem;
}

html, body { height: 100%; }



