@import 'aos/dist/aos.css';

/* Root */
:root{
    --color-bg: #010409;
    --color-bg-secundary: #171B22;
    --color-bg-divider: #30363D;
    --color-text: #fff;
    --color-text-secundary: rgba(255, 255, 255, 0.7);
    --color-text-disabled: rgba(255, 255, 255, 0.5);
    --color-link: #40DF9F;
    --color-btn: #40DF9F;
    --color-btn-hover: #7AE3B9;
    --color-bg-red: #FF464F;
    --color-bg-red-secundary: #FF575F;
    --color-bg-red-light: #cf6679;
    --color-bg-orange: #FF8A34;
    --color-bg-orange-secundary: #FF974A;
    --color-bg-orange-light: #FFEFE3;
    --color-bg-yellow: #FFBC25;
    --color-bg-yellow-secundary: #FFC542;
    --color-bg-yellow-light: #FEF3D9;
    --color-bg-blue: #005DF2;
    --color-bg-blue-secundary: #0062FF;
    --color-bg-blue-light: #E3EEFF;
    --color-bg-purple: #6952DC;
    --color-bg-purple-secundary: #755FE2;
    --color-bg-purple-light: #bb86fc;
    --color-bg-shadow: rgba(1,4,9,0.8);
    --color-btn-primary:
}

html{
    box-sizing: border-box;
    font-size: 16px;
    min-height: 100%;
    position: relative;
}

body{
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}


body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-text);
}

p, div, a, label, input, span{
    font-family: 'Biryani', sans-serif;
    color: var(--color-text-secundary);
}

a{
    color: var(--color-text);
    text-decoration: none;
}

a:hover, a:active, a:focus{
    color: var(--color-link);
    outline: none;
    text-decoration: none;
}


hr{
    border: 1px solid var(--color-bg-divider);
}

/* Typography */

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.2rem;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.2rem;
}

h5{
    font-size: 1rem;
}

p {
    font-size: 1.5rem;
    letter-spacing: .02rem;
}

a{
    font-size: 1rem;
    letter-spacing: .02rem;
}

/* Class */
.card{
    border-radius: .5rem;
    background-color: var(--color-bg-secundary);
    padding: 2rem;
    margin: 5rem auto;
    width: 80%;
    height: auto;
    border: .1875rem solid var(--color-bg-divider);
    box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.2);
}

.section-divider {
    display: block;
    border-radius: 55px;
    width: 6.25rem;
    height: .2rem;
    background: var(--color-btn);
    margin: 0 auto;
  }

.btn-primary{
    background: top right/210% 210% #e14eca;
    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
    transition: all .15s ease;
    box-shadow: none;
    color: #fff;
}

.btn-info{
    background: top right/210% 210% #bb86fc;
    background-image: linear-gradient(to bottom left,#1d8cf8,#3358f4,#1d8cf8);
    transition: all .15s ease;
    box-shadow: none;
    color: #fff;
}

.btn-success{
    background: top right/210% 210% #00f2c3;
    background-image: linear-gradient(to bottom left,#00f2c3,#0098f0,#00f2c3);
    transition: all .15s ease;
    box-shadow: none;
    color: #fff;
}

.btn-warning{
    background: top right/210% 210% #ff8d72;
    background-image: linear-gradient(to bottom left,#ff8d72,#ff6491,#ff8d72);
    transition: all .15s ease;
    box-shadow: none;
    color: #fff;
}

.btn-danger{
    background: top right/210% 210% #fd5d93;
    background-image: linear-gradient(to bottom left,#fd5d93,#ec250d,#fd5d93);
    transition: all .15s ease;
    box-shadow: none;
    color: #fff;
}

