.card1 {
  border: 1px solid var(--color-bg-purple-secundary);
  border-left: 10px solid var(--color-bg-purple-secundary);
  box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .2);
}

.card2 {
  border: 1px solid var(--color-btn);
  border-left: 10px solid var(--color-btn);
  box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .2);
}

.card3 {
  border: 1px solid var(--color-bg-yellow);
  border-left: 10px solid var(--color-bg-yellow);
  box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .2);
}

.card-title1 {
  color: var(--color-bg-purple-secundary);
  font-size: 1.5rem;
}

.card-title2 {
  color: var(--color-btn);
  font-size: 1.5rem;
}

.card-title3 {
  color: var(--color-bg-yellow);
  font-size: 1.5rem;
}

.more {
  text-align: end;
}

th {
  color: var(--color-text);
  padding-bottom: 1.5rem;
  font-size: .95rem;
  border: 1px solid transparent;
  font-weight: bold;
}

td {
  padding-bottom: 1.5rem;
  text-align: center;
  border-bottom: 1px solid transparent;
}

.ingreso {
  color: var(--color-btn);
}

.egreso {
  color: var(--color-bg-red);
}

.example-card {
  font-family: 'Biryani', sans-serif;
  max-width: 400px;
  background-color: var(--color-bg-secundary);
}

.demo-table {
  font-family: 'Biryani', sans-serif;
  width: 100%;
  background: var(--color-bg-secundary);
  box-shadow: none;
}

.mat-row:hover .mat-cell {
  border-color: var(--color-bg-divider);
}

mat-card{
  border: 1px solid var(--color-bg-divider);
  border-radius: .5rem;
  background-color: var(--color-bg-secundary);
}

mat-title{
  font-size: 1.7rem;
  padding-left: 1rem;
  font-family: 'Montserrat', sans-serif;
}

/* ANIMATIONS */
.example-card {
  transition: transform .2s;
}

.example-card:hover {
  transform: scale(1.1);
}


a{
  color: var(--color-btn-hover);
}