<section class="m-4" data-aos="zoom-in" data-aos-duration="1500">
  <div class="container-fluid ">
    <div class="title text-center">
      <h2><strong>Hola NAME</strong>, te damos la bienvenida de vuelta!</h2>
    </div>

    <div class="header pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row">
            <!-- PESOS -->
            <div class="col-lg-4 col-sm-12 col-md-12 my-2">
              <mat-card class="example-card card1 py-4">
                <mat-card-title class="text-uppercase card-title1 my-2">Saldo en PESOS</mat-card-title>
                <mat-card-subtitle class="h4 font-weight-bold mb-0">$ 4000</mat-card-subtitle>
              </mat-card>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-12 my-2">
              <mat-card class="example-card card2 py-4">
                <mat-card-title class="text-uppercase card-title2 my-2">Saldo en Dólar</mat-card-title>
                <mat-card-subtitle class="h4 font-weight-bold mb-0">U$S 4000</mat-card-subtitle>
              </mat-card>
            </div>

            <div class="col-lg-4 col-sm-12 col-md-12 my-2">
              <mat-card class="example-card card3 py-4">
                <mat-card-title class="text-uppercase card-title3 my-2">Saldo en Cripto</mat-card-title>
                <mat-card-subtitle class="h4 font-weight-bold mb-0">924B $</mat-card-subtitle>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 my-4">
          <mat-card>
            <mat-title class="py-4">Últimos movimientos
            <div class="text-end">
               <a  routerLink="/menu/peso">Ver más</a>
            </div>   
           </mat-title>
            
            
          <table mat-table [dataSource]="dataSource" class=" mat-elevation-z8 demo-table">
            <!-- Cuenta  -->
            <ng-container matColumnDef="cuenta">
              <th mat-header-cell *matHeaderCellDef class="text-star">Cuenta</th>
              <td mat-cell class="text-start font-weight-bold" *matCellDef="let element">{{element.cuenta}}</td>
            </ng-container>

            <!-- Fecha  -->
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef class="text-center">Fecha</th>
              <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
            </ng-container>

            <!-- Movimiento  -->
            <ng-container matColumnDef="movimiento">
              <th mat-header-cell *matHeaderCellDef class="text-center">Monto</th>
              <td mat-cell *matCellDef="let element">{{element.movimiento}}</td>
            </ng-container>

            <!-- Ingreso  -->
            <ng-container matColumnDef="ingreso">
              <th mat-header-cell *matHeaderCellDef class="text-center">Ingreso</th>
              <td mat-cell *matCellDef="let element">{{element.ingreso}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
              *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card>
        </div>


        <div class="col-sm-12 col-md-12 col-lg-4 my-4">
          <mat-card>
              <mat-title class="py-4">Cotización
              <div class="text-end">
                 <a  routerLink="/menu/peso">Ver más</a>
              </div>   
             </mat-title>
          <table mat-table [dataSource]="dataSource2" class="  mat-elevation-z8 demo-table">
            <!-- Cotización Column -->
            <ng-container matColumnDef="cotizacion">
              <th mat-header-cell *matHeaderCellDef class="text-start">Cotización</th>
              <td mat-cell class="text-start font-weight-bold" *matCellDef="let element">{{element.cotizacion}}</td>
            </ng-container>

            <!-- Monto Column -->
            <ng-container matColumnDef="monto">
              <th mat-header-cell *matHeaderCellDef class="text-center">Monto</th>
              <td mat-cell *matCellDef="let element">{{element.monto}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row (click)="clickedRows2.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
              *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table></mat-card>
        </div>
    </div>
  </div>
</section>