.card1 {
  margin-top: 2rem;
  border: none;
  border: 1px solid var(--color-bg-purple-light);
  border-bottom: 10px solid var(--color-bg-purple-light);
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  font-size: 1.5rem;
  width: auto;
}

.more {
  text-align: end;
}
.icon-paid {
  font-size: 3rem;
}
.mov {
  margin: 4rem;
  justify-content: center;
}

table {
  width: 100%;
  background-color: var(--color-bg-secundary);
}

.example-card {
  font-family: "Biryani", sans-serif;
  max-width: 700px;
  background-color: var(--color-bg);
}

.mat-row:hover .mat-cell {
  border-color: var(--color-bg-divider);
}

mat-card {
  border: 1px solid var(--color-bg-divider);
  border-radius: 0.5rem;
  background-color: var(--color-bg-secundary);
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  mat-card {
    width: 100%;
  }
}
mat-title {
  font-size: 1.5rem;
  padding-left: 1rem;
  font-family: "Montserrat", sans-serif;
}

/* ANIMATIONS */
.example-card {
  transition: transform 0.2s;
}

.example-card:hover {
  transform: scale(1.1);
}

a {
  color: var(--color-btn-hover);
  font-size: 1.2rem;
}

mat-icon {
  font-size: 0.8rem;
}

.button {
  --offset: 10px;
  --border-size: 2px;
  display: -webkit-inline-box;
  position: relative;
  padding: 1.5em 3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
  color: var(--color-btn-hover);
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button__horizontal,
.button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
  color: var(--color-purple);
}
.button__horizontal::before,
.button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}

.mat-elevation-z8 {
  box-shadow: none !important;
}

.title{
  color: var(--color-text-secundary);
  font-size: 1.5rem;
}

th {
  color: var(--color-text);
  padding-bottom: 2rem;
  font-size: 0.7rem;
  border: 1px solid transparent;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

td {
  padding-bottom: 2rem;
  font-size: 0.6rem;
  text-align: center;
  border-bottom: 1px solid transparent;
}
@media (min-width: 768px) {
  th {
    font-size: 0.7rem;
  }
  td {
    font-size: 0.6rem;
  }
}
@media (min-width: 992px) {
  th {
    font-size: 0.9rem;
  }
  td {
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  th {
    font-size: 1.3rem;
  }
  td {
    font-size: 1.2rem;
  }
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 5%;
  width: 50px;
  height: 50px;
  animation-delay: 5s;
  animation-duration: 45s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 5%;
  width: 10px;
  height: 10px;
  animation-delay: 15s;
  animation-duration: 45s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}