<script>
    var perfilModal = document.getElementById('perfilModal')
    perfilModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    var recipient = button.getAttribute('data-bs-whatever')
    var modalTitle = perfilModal.querySelector('.modal-title')
    var modalBodyInput = perfilModal.querySelector('.modal-body input')
})
    var datosModal = document.getElementById('datosModal')
    datosModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    var recipient = button.getAttribute('data-bs-whatever')
    var modalTitle = datosModal.querySelector('.modal-title')
    var modalBodyInput = datosModal.querySelector('.modal-body input')
})
</script>

<header class="header dark-bg">
  <div class="toggle-nav">
    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class='bx bx-menu'></i></div>
  </div>
</header>

<!-- <aside>
  <div id="sidebar" class="nav-collapse ">
    
    <ul class="sidebar-menu">
      <li class="active">
        <a class="" href="index.html">
                      <i class="icon_house_alt"></i>
                      <span>Dashboard</span>
                  </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" class="">
                      <i class="icon_document_alt"></i>
                      <span>Forms</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
        <ul class="sub">
          <li><a class="" href="form_component.html">Form Elements</a></li>
          <li><a class="" href="form_validation.html">Form Validation</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" class="">
                      <i class="icon_desktop"></i>
                      <span>UI Fitures</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
        <ul class="sub">
          <li><a class="" href="general.html">Elements</a></li>
          <li><a class="" href="buttons.html">Buttons</a></li>
          <li><a class="" href="grids.html">Grids</a></li>
        </ul>
      </li>
      <li>
        <a class="" href="widgets.html">
                      <i class="icon_genius"></i>
                      <span>Widgets</span>
                  </a>
      </li>
      <li>
        <a class="" href="chart-chartjs.html">
                      <i class="icon_piechart"></i>
                      <span>Charts</span>

                  </a>

      </li>

      <li class="sub-menu">
        <a href="javascript:;" class="">
                      <i class="icon_table"></i>
                      <span>Tables</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
        <ul class="sub">
          <li><a class="" href="basic_table.html">Basic Table</a></li>
        </ul>
      </li>

      <li class="sub-menu">
        <a href="javascript:;" class="">
                      <i class="icon_documents_alt"></i>
                      <span>Pages</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
        <ul class="sub">
          <li><a class="" href="profile.html">Profile</a></li>
          <li><a class="" href="login.html"><span>Login Page</span></a></li>
          <li><a class="" href="contact.html"><span>Contact Page</span></a></li>
          <li><a class="" href="blank.html">Blank Page</a></li>
          <li><a class="" href="404.html">404 Error</a></li>
        </ul>
      </li>

    </ul>
  
  </div>
</aside> -->


<!-- IMAGEN DEL USUARIO

<div class="">
    <img src="../assets/logo/PILMONEY-logo.png" alt="foto perfil" style="border-radius: circle; align-items: center;" width="200" height="100">
</div> -->

<!--MODIFICAR PERFIL-->

<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#perfilModal">Modificar</button> -->

<!-- <div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="perfilModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="perfilModalLabel" style="color: black;">Modificar Datos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row g-3">
                    <div class="col">
                      <input type="user" class="form-control" placeholder="Usuario" aria-label="usuario" id="user" [formControl]="user">
                    </div>
                    <div class="col">
                      <input type="email" class="form-control" placeholder="Email" aria-label="Email" id="mail" [formControl]="mail"> 
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Calle" aria-label="Calle"id="calle" [formControl]="calle">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Piso o Dpto" aria-label="Piso o Dpto" id="piso" [formControl]="piso">
                    </div>
                </div>
                <div class="">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div> -->

  <!--MOSTRAR Bancarios-->

<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#datosModal">Mis datos</button> -->

<!-- <div class="modal fade" id="datosModal" tabindex="-1" aria-labelledby="datosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="datosModalLabel" style="color: black;">Datos Bancarios</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row g-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="CVU" aria-label="cvu" id="user">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Alias" aria-label="Alias" id="alias"> 
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Tarjetas" aria-label="Tarjetas" id="tarj">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Cuentas" aria-label="Cuentas" id="acc">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  -->